<head>
  <script src="https://cdn.tailwindcss.com"></script>
</head>


<body class="font-serif">
  <div class="">
    <header>
      <h1 class="flex justify-center text-6xl">
        <a href="/">The Movie Reviews</a>
      </h1>
      <nav class="flex justify-center text-2xl"> 
        <!-- Conditionally render login or logout links -->
        <a class="link px-8" href="/">Home</a>
        <a class="link px-8" href="/dashboard">Dashboard</a>
        <a class="link" href="/profile">Profile</a>
        {{#if loggedIn}}
        <button class="no-button px-8" id="logout">Logout</button>
        {{else}}
        <a href="/login" class="px-8">Login</a>
        {{/if}}
      </nav>
    </header>
    {{!-- <main class="container container-fluid mt-5"> --}}
    <main class="text-l">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>