{{!-- content --}}
{{#each posts as |post|}}

  <div class="row">

    <div class="container blogBox">
			<div class="row  justify-content-center headerRow">
      <div class="col-8">
        <h2>
          <a class="postTitle text-uppercase" href="/post/{{post.id}}>{{post.title}} {{post.content}}"</a>
        </h2>
      </div>

      <div class="col-4">
       
      </div>
			</div>
    <div class="postDesc">
      <p class="text-center postDescMain">
        {{post.content}}
      </p>
    </div>
    </div>

  </div>
  {{/each}}
   