{{!-- <div class="card">
      <h3 class="card-header">Login</h3>

    <form class="form"  id ="login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <form id="login-form" class="card-body">
        <label class="form-label" for="username-login">Username</label>
        <input  id="username-login" type="text" autofocus="true" class="form-input" />

        <label class="form-label" for="password-login">Password</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />
        <!-- email field -->

        <button type="submit" class="btn">Login</button>
        <a class="login-link" href="/signup">Sign up</a>
      </form>
    </div> --}}

    {{!-- <div class="row">
  <div class="col justify-content-center">
    <h2 class="login">Login</h2>
    <form class="form login-form">
       <div class="form-group">
        <input class="form-input" type="text" placeholder="Email" id="email-login" />
      </div>
      <div class="form-group">
        <input class="form-input" type="text" placeholder="Username" id="username-login" />
      </div>
      <div class="form-group">
        <input class="form-input" type="password" placeholder="Password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
      <div>
        <a href="/signUp">Sign Up Instead</a>
      </div>
    </form>
  </div>
</div> --}}

<form class='login-form flex justify-center'>
  <div id="login-div" class="row border">
    <div class="col-10">
      <label for="username-label">Username:</label>
    </div>
    <div class="col-10">
      <input type='text' id='username-login' class="bg-[#9ca3af]"/>
    </div>
      <div id="login-div" class="row border">
    <div class="col-10">
      <label for="email-label">Email:</label>
    </div>
    <div class="col-10">
      <input type='text' id='email-login' class="bg-[#9ca3af]"/>
    </div>
    <div class="col-10">
      <label for='password-label'>Password:</label>
    </div>
    <div class="col-10">
      <input type='password' id='password-login' class="bg-[#9ca3af]"/>
    </div>
    <div class="col-10">
      <button type='submit' id='login-btn' class="text-[#3b82f6]">Login!</button>
    </div>
    <div class='col-10'>
      <a href="/signup" class="flex justify-center text-[#3b82f6]">Sign-Up Instead!</a>
    </div>
  </div>
</form>


<script src="/js/login.js"></script>