    <form id='login-form'>
    <div class="row">
        <div id='login-header' class="col-10">
            <h2>Login</h2>
        </div>
    </div>
    <div id="login-div" class="row border">
        <div class="col-10">
            <label for="username-login">Username</label>
        </div>
        <div class="col-10">
            <input type='text' id='username-login' />
        </div>
         <div id="login-div" class="row border">
        <div class="col-10">
            <label for="email-login">Email</label>
        </div>
        <div class="col-10">
            <input type='text' id='email-login' />
        </div>
        <div class="col-10">
            <label for='password-login'>Password</label>
        </div>
        <div class="col-10">
            <input type='password' id='password-login' />
        </div>
        <div class="col-10">
            <button type='submit' id='login-btn'>Login!</button>
        </div>
        <div class='col-10'>
            <a href="/signup">Sign-Up Instead!</a>
        </div>
    </div>
</form>

<script src="/js/login.js"></script>

