<div class="text">
	<div class="container postBoxCont">
		<div class="row headerRow">
			<div class="col-8">
				<h2 class="postTitle text-uppercase">{{title}}</h2>
			</div>
			<div class="col-4">
				<p class="postCreate text-right">Created by {{user.username}} on {{format_date date_created}}</p>
			</div>
		</div>
		<p class="text-center postDescTwo">{{content}}</p>
	</div>	
</div>

