<form id="profile-page">
<div class="flex items-center justify-center pt-10 flex-col">
  <h1 class="text-gray-800 font- semibold text-x1 mt-4">Name:{{name-login}}</h1>
  <h1 class="text-gray-500 text-sm">Email: {{email-login}}</h1>
  <h1 class="text-gray-500 text-sm p-3 text center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </h1>
</div>
<div class="flex justify-between p-4">
</div>
<button class="text-xs text-green-300 border-2 py-1 px-2 border-green-300"> Follow Me!</button>
<button class="text-xs text-green-300 border-2 py-1 px-2 border-green-300">My Movie Reviews!</button>
</div>
</div>
<div class="flex items-center justify- center mt -3 mb-5 flex-col">
  <h1 class="text-xs text-gray-500">Get Connected</h1>
  <div class="flex mt-2">
      <div class='col-10'>
        <a href="/sendMessage">Send Message</a>
        <a href="/reportUser">Report User </a>
      </div>
    </div>
</form>

<script src="/js/profile.js"></script>
</div>
</form>