<form id='profile-page'>
  <div class="row">
    <div id='profile-header' class="col-10">
      <h1>Profile</h1>
        <label for="email-signup">Email</label>
      </div>
      <div class="col-10">
        <input type='text' id='email-signup' />
      </div>
      <div class="col-10">
        <label for='Birthday'>Birthday</label>
      </div>
      <div class="col-10">
        <input type='Birthday' id='Birthday' />
      </div>
      <div class="col-10">
        <button type='followe me' id='follow-btn'>Follow me!</button>
      </div>
      <div class='col-10'>
         <button type='movieReview post' id='movieReiew-btn'>My movie Reviews</button>
      </div>
      <div class='col-10'>
        <a href="/sendMessage">Send Message</a>
      </div>
      <div class='col-10'>
        <a href="/reportUser">Report User </a>
      </div>
    </div>
</form>

<script src="/js/profiel.js"></script>
</div>
</form>