<form id='signup-form'>
    <div class="row">
        <div id='signup-header' class="col-10">
            <h2>Sign Up</h2>
        </div>
    </div>
    <div id="signup-div" class="row border">
        <div class="col-10">
            <label for="username-signup">Username</label>
        </div>
        <div class="col-10">
            <input type='text' id='username-signup' />
        </div>
         <div id="signup-div" class="row border">
        <div class="col-10">
            <label for="email-signup">Email</label>
        </div>
        <div class="col-10">
            <input type='text' id='email-signup' />
        </div>
        <div class="col-10">
            <label for='password-signup'>Password</label>
        </div>
        <div class="col-10">
            <input type='password' id='password-signup' />
        </div>
        <div class="col-10">
            <button type='submit' id='signup-btn'>Sign Up!</button>
        </div>
        <div class='col-10'>
            <a href="/login">Login Instead!</a>
        </div>
    </div>
</form>

<script src="/js/signup.js"></script>